#quem-somos{
    max-width: 1300px;
    background-color:#D1FEFF;
    margin: 0 auto;
    min-height: 90vh;
}

.qs{
    margin: 40px;
    padding: 40px 50px;
    background-color: #fff;
    border-radius:20px;
    margin-inline-start: 90px;
    margin-inline-end: 90px;
}

.qtitulo{
    text-align: center;
    font-family: 'Lato';
    font-size: 36px;
}

.qtxt{
    text-align: center;
    font-family: 'Lato';
    font-size: 32px ;
}
#rod-txt{
    font-size: 18px;
    margin-top: -57px;
    margin-inline-start: 1060px;
}